.sidebar {
    width: 15%;
    padding: 1.5rem 0 0 1.5rem;
    border-right: 1px solid #636e72;
}

.sidebar h3 {
    color: #16a085;
    margin-bottom: 1rem;
}

.sidebar p {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.sidebar p:hover {
    cursor: pointer;
    color: #60a3bc;
}